@using umbraco.MacroEngines;
@using uComponents;
@using uComponents.Core;
@using uComponents.DataTypes;
@inherits umbraco.MacroEngines.DynamicNodeContext

@{
		
	var nodeId = String.IsNullOrEmpty(Parameter.ContentNode)? 0 : int.Parse(Parameter.ContentNode);
    var divClass = String.IsNullOrEmpty(Parameter.divClass)? "" : Parameter.divClass;
    var listItemClass = String.IsNullOrEmpty(Parameter.listItemClass)? "" : Parameter.listItemClass;
    var target = "";

	
    //now get the node associated with the id
    var nodeList = Library.NodeById(nodeId);
    	
		foreach(var item in nodeList.Children)
        {
            <div class="@divClass">
				<h4>@item.Name</h4>
				<ul>
                    @foreach(var childItem in item.Children)
                    {
                        var targetUrl = "";
                        target = "_self";
                        if(childItem.redirectUrl!=null && childItem.redirectUrl.NodeId!=null)
                        {
                            //var redirectUrl = uComponents.DataTypes.UrlPicker.Dto.UrlPickerState.Deserialize("redirectUrl");

                            //grab the targetUrl
                            targetUrl = childItem.redirectUrl.Url;
                            
                            //now check to see if the user has specified to open link in new window
                            if (childItem.redirectUrl.NewWindow)
                            {
                                target = "_blank";
                            }
                            
                            <li class="@listItemClass"><a href="@targetUrl" target="@target" >@childItem.Name</a></li>
                        }
                        else
                        {
                            <li class="@listItemClass">@childItem.Name</li>
                        }
                    }
				</ul>
			</div>
        }
    
    
    
    
}

